// wp admin login css
.login {
  form#loginform {
    padding: 26px 24px 115px !important;
    position: relative;
  }

  .login-button-container {
    position: absolute;
    bottom: 25px;
    width: 85%;
    left: 0;
    text-align: center;
    z-index: 99;
    margin: 0 24px;

    &::before {
      content: 'OR';
      position: absolute;
      top: -29px;
      width: 40px;
      left: 50%;
      background: #fff;
      z-index: 9;
      transform: translateX(-50%);
      font-weight: 700;
    }

    &::after {
      content: '';
      width: 100%;
      background: #ddd;
      height: 1px;
      position: absolute;
      left: 0;
      top: -20px;
    }

    .login-button {
      display: block;
      padding: 14px 20px;
      border: 1px solid #000;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}
// wp admin login css end

.login-button-container,
.checkout-button-container {
  &.blurred {
    background: url('../img/blurr.jpg') no-repeat center center;
    background-size: cover;
    padding: 117px 20px;
    border-radius: 5px;
    text-align: center;
  }

  p {
    font-size: 13px;
    margin-bottom: 10px;
  }

  .login-button,
  .checkout-button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: all ease 0.2s;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
