/* stylelint-disable */
.unlock-protocol-container {
  .unlock-settings-heading {
    background-image: url(../../img/icon-128x128.png);
    background-size: 35px;
    background-repeat: no-repeat;
    padding-left: 42px !important;
    background-position: left center;
  }
}

.settings_container {
  margin: 20px 0;

  .left-menu {
    overflow: hidden;
    margin-bottom: 15px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        padding: 10px 20px;
        background: #fff;
        margin: 0 5px;
        border-radius: 3px;
        cursor: pointer;

        &:first-child {
          margin-left: 0;
        }

        &.active {
          background: var(--wp-admin-theme-color);
          color: #fff;
          font-weight: bold;
          cursor: default;
        }
      }
    }
  }

  .components-notice {
    margin: 5px 0 15px;
  }

  .input-container {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ddd;

    h3 {
      margin-top: 0;
    }

    .help-text {
      color: #808080;
    }

    .btn-danger {
      background: red;
      color: #fff;
    }

    .media-default-btn {
      margin-left: 10px;
    }

    .form-inputs {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;

      .group {
        margin-top: 10px;
        flex: 1;
        margin-right: 15px;

        input {
          border-color: #bebcbc;
          height: 36px;
        }

        .components-base-control__label {
          font-weight: 600;
        }
      }
    }

    .color-picker-container {
      width: 200px;
    }
  }

  &__general {
    .input-container {
      margin-bottom: 15px;

      .form-inputs {
        display: block;

        .components-base-control__help {
          margin-top: -8px;
        }
      }
    }

    .media-placeholder-image {
      width: 200px;
      margin: 10px 0;
    }
  }

  .all_networks_container {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    .single_network {
      background: #fff;
      border-radius: 5px;
      padding: 15px;
      box-shadow: 2px 2px 5px #ddd;
      margin-bottom: 15px;
      flex: 1 0 40%;
      margin-right: 10px;
      position: relative;

      p {
        span {
          font-weight: 600;
        }
      }

      button.remove-network {
        position: absolute;
        right: 0;
        top: 0;
        font-weight: bold;
        color: red;

        &:focus:not(:disabled) {
          outline: 0;
          box-shadow: 0 0 0;
        }
      }
    }
  }

  .tooltip {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    background: #ddd;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    top: -1px;
    color: #333;
    cursor: pointer;
    text-decoration: none;

    &:focus {
      box-shadow: 0 0 0 0;
      outline: 0;
    }

    .tooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 10px;
      position: absolute;
      z-index: 1;
      top: -5px;
      left: 105%;
      font-size: 12px;
      font-weight: 300;
      margin-left: 5px;
    }

    &:hover .tooltiptext {
      visibility: visible;
    }
  }
}
